*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: arial;
}

button, input[type="submit"], input[type="reset"] {  /*get rid of input default stylings*/
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body{
	/*background-color: #E8E8E8;*/
}

#navigation_box{
	width: 100%;
	height: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 25%;
	padding-right: 25%;
}

#navigation_content{
	width: 100%;
	height: 100%;
	position: relative;
}

#title_image{
	float: left;
}

#title_name{
	float: left;
	margin-top: 15px;
}

#siggin_button{
	float: left;
	background-color: gray;
	width: 150px;
	height: 30px;
	position: absolute;
	right: 160px;
	top: 15px;
	padding: 6px;
	border-radius: 25px;
	font-weight: bold;
	color: white;
}

#siggin_button_content{
	text-align: center;
	width: 100%;
	height: 100%;
}

#signup_button{
	float: left;
	width: 150px;
	height: 30px;
	position: absolute;
	right: 0px;
	top: 15px;
	padding: 6px;
	background-color: #ff0000;
	border-radius: 25px;
	font-weight: bold;
	color: white;
}

#signup_button_content{
	text-align: center;
	width: 100%;
	height: 100%;
}

#hamburger_icon{
	display: none;
	position: absolute;
	right: 0px;
	top: 8px;
}

#settingsIcon{
	width: 40px;
	position: absolute;
	right: -45px;
	top: 8px;	
	display: block;
}

/*hamburger_icon dropdown related*/
#hamburger_icon_dropdown_box{
	position: absolute;
	right: -4px; 
	height: 145px;
	width: 200px;
	background-color: black;
	top: 40px;
	border-radius: 10px;
	padding: 20px;
	display: none;
}

#hamburger_icon_dropdown_content{
	color: white;
	text-align: center;
}

.collapsedButtons:hover{
	background-color: white;
	color: black;
}

#greeting_part_box{
	height: 550px;
	width: 100%;
	background-color: #808080;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 80px;
}

#greeting_part_content{
	height: 100%;
	width: 100%;
}

#greeting_message{
	font-size: 4em;
	color: white;
	text-align: center;
}

#paper_plane_image{
	/*centers the image*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 240px; /*original is 256*/
}

#greetings_details{
	color: white;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}

 /*stylings for the "lets begin button"*/
#search_button_box{
	width: 200px;
	border-radius: 25px; 
	border-style: solid;
	border-color: white;
	border-width: 3px;
	margin-left: auto;
	margin-right: auto;
}

#search_button_content{
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
	font-size: 2em;
}


#boxes{
	width: 100%;
	float: left;
	padding-left: 15%;
	padding-right: 15%;
}


#boxes_content{
	width: 100%;
	height: 100%;
	float: left;
	/*centers the content found in -> 
	https://www.freecodecamp.org/news/how-to-center
	-anything-with-css-align-a-div-text-and-more/*/
	display: flex;
  	justify-content: center;
}

#student_box{
	background-color: white;
	width: 250px;
	height: 300px;
	padding: 10px 30px 10px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: -50px;
	float: left;
}

#student_box_content{
	width: 100%;
	height: 100%;
}
#student-icon{
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#student_box_title{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

#student_box_text{
	text-align: center;
	margin-top: 10px;
}

#employer_box{
	background-color: white;
	width: 250px;
	height: 300px;
	margin-left: 50px;
	padding: 10px 30px 10px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: -50px;
	float: left;
}

#employer_box_content{
	width: 100%;
	height: 100%;
}
#employer-icon{
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#employer_box_title{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

#employer_box_text{
	text-align: center;
	margin-top: 10px;
}

#upgrade_box{
	background-color: white;
	width: 250px;
	height: 300px;
	margin-left: 50px;
	padding: 10px 30px 10px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 
	0 6px 20px 0 rgba(0, 0, 0, 0.19);
	position: relative;
	top: -50px;
	float: left;
}

#upgrade_box_content{
	width: 100%;
	height: 100%;
}
#upgrade-icon{
	height: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#upgrade_box_title{
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

#upgrade_box_text{
	text-align: center;
	margin-top: 10px;
}

#options_section{
	 /*we set the display as that in order to prevent 
	 "margin collapsing" -> In CSS, the adjoining 
	 margins of two or more boxes (which might or might not be 
	 siblings) can combine to form a single margin. Margins that 
	 combine this way are said to collapse, and the resulting 
	 combined margin is called a collapsed margin.*/
	display: inline-block;
	width: 100%;
	margin-bottom: 80px;
	margin-top: 80px;
	padding-bottom: 7px;
	padding-top: 7px;
}

#options_box{
	width: 100%;
	height: 400px;
}

#options_box_content{
	width: 100%;
	height: 100%;
}

#options_title{
	text-align: center;
	font-size: 2em;
	margin-bottom: 25px;
	font-weight: bold;
}

.discipline_box{
	width: 155px;
	height: 155px;
	padding: 20px;
	border-style: solid;
	border-radius: 
	border-width: 1px;
	float: left;
	margin-top: 7px;
	margin-left: 7px;
	background-color: #d3d3d3;
}

.discipline_box_content{
	width: 100%;
	height: 100%;
}

.discipline_title{
	margin-top: 20px;
	margin-left: 5px;	
	text-align: center;
}

.discipline_icon{
	width: 50px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#footer_box{
	background-color: black;
	width: 100%;
	height: 200px;
	padding-left: 20%;
	padding-right: 20%;
}

#footer_box_content{
	width: 100%;
	height: 100%;
}

#follow_box{
	width: 100%;
	padding-top: 30px;
}
#follow_box_content{
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
}

#social_box{
	margin-top: 20px;
	/*this centers the social media divs
	found in: 
	https://stackoverflow.com/questions/114543/how-to-
	horizontally-center-an-element;*/
	width:100%;
	display: flex;
	justify-content: center;
}

#social_box_content{
}

.media{
	/*border-style: solid;*/
	width: 130px;
	float: left;
}

.media_icon{
	width: 35px;
	float: left;
}

.media_title{
	float: left;
	text-align: center;
	margin-left: 10px;
	margin-top: 6px;
	color: white;
}

#additional_info_box{
	width: 100%;
	margin-top: 50px;
}

#additional_info_content{
	width: 100%;
	height: 100%;
	text-align: center;
}

#additional_info_content a{
	text-decoration: underline;
	color: white;
	margin-left: 5%;
	margin-right: 5%;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none; /*removes default underline*/
    color: inherit; /*remove default color*/
    cursor: auto;
}

/*large devices*/
@media (min-width: 1200px){ /*from 1201 and after*/
	#options_box_content{
		width: 815px;
		margin-left: auto;
		margin-right: auto;
	}
}

/*medium devices*/
@media (min-width: 991px) and (max-width: 1200px){
	#siggin_button{
		display: none;
	}
	#signup_button{
		display: none;
	}
	#hamburger_icon{
		display: block;
	}
	#paper_plane_image{
		width: 200px;
		height: 200px;
	}
	#greeting_message{
		font-size: 2em;
	}
	#options_box_content{
		width: 815px;
		margin-left: auto;
		margin-right: auto;
	}
	#settingsIcon{
		display: none;
	}
}

/*small devices*/
@media (min-width:651px) and (max-width: 991px){ /*until 990*/
	#siggin_button{
		display: none;
	}
	#signup_button{
		display: none;
	}
	#hamburger_icon{
		display: block;
	}
	#paper_plane_image{
		width: 200px;
		height: 200px;
	}
	#greeting_message{
		font-size: 2em;
	}
	#boxes{
		padding-left: 1%;
		padding-right: 1%;
	}	
	#options_box_content{
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}
	#additional_info_box{
		margin-top: 30px;
	}
	#settingsIcon{
		display: none;
	}
}

/*specific stylings Placed it above extra small stylings in order
to not override stylings of the extra small*/
@media (min-width: 1200px) and (max-width: 1240px){
	#paper_plane_image{
		width: 200px;
		height: 200px;
	}
	#greeting_message{
		font-size: 2em;
	}
}

/*extra small*/
@media (max-width: 651px){ 
	#navigation_box{
		padding-left: 3%;
		padding-right: 3%;
	}
	#siggin_button{
		display: none;
	}
	#signup_button{
		display: none;
	}
	#hamburger_icon{
		display: block;
	}
	#paper_plane_image{
		width: 200px;
		height: 200px;
	}
	#greeting_message{
		font-size: 2em;
	}	
	#boxes_content{
		display: block;
	}
	#paper_plane_image{
		width: 150px;
		height: 150px;
	}
	#boxes{
		padding-left: 0%;
		padding-right: 0%;
	}	
	#student_box{
		background-color: white;
		width: 100%;
		height: 80px;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
	}
	#student_box_content{
		float: left;
	}
	#student_box_content > #student-icon{
		height: 60px;
		margin-left: 0px;
		margin-right: 0px;
		float: left;
	}
	#student_box_text{
		margin-top: 0px;
		font-size: 13px;
		float: left;
		width: 150px;
		margin-left: 30px;
		position: absolute;
		right: 30px;
	}

	#student_box_title{
		text-align: center;
		margin-top: 20px;
		font-weight: bold;
		float: left;
		margin-left: 20px;
	}
	#employer_box{
		background-color: white;
		width: 100%;
		height: 80px;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		margin-left: 0px;
	}
	#employer_box_content{
		float: left;
	}
	#employer_box_content > #employer-icon{
		height: 60px;
		margin-left: 0px;
		margin-right: 0px;
		float: left;
	}
	#employer_box_text{
		margin-top: 0px;
		font-size: 13px;
		float: left;
		width: 150px;
		margin-left: 30px;
		position: absolute;
		right: 30px;
	}

	#employer_box_title{
		text-align: center;
		margin-top: 20px;
		font-weight: bold;
		float: left;
		margin-left: 20px;
	}
	#upgrade_box{
		background-color: white;
		width: 100%;
		height: 80px;
		float: left;
		padding-left: 0px;
		padding-right: 0px;
		position: relative;
		margin-left: 0px;
	}
	#upgrade_box_content{
		float: left;
	}
	#upgrade_box_content > #upgrade-icon{
		height: 60px;
		margin-left: 0px;
		margin-right: 0px;
		float: left;
	}
	#upgrade_box_text{
		margin-top: 0px;
		font-size: 13px;
		float: left;
		width: 150px;
		margin-left: 30px;
		position: absolute;
		right: 30px;
	}

	#upgrade_box_title{
		text-align: center;
		margin-top: 20px;
		font-weight: bold;
		float: left;
		margin-left: 20px;
	}
	#options_box_content{
		width: 330px;
		margin-left: auto;
		margin-right: auto;
	}
	#student_box{
		box-shadow: none;
		border-bottom: 1px solid gray;
	}
	#employer_box{
		box-shadow: none;
		border-bottom: 1px solid gray;
	}
	#upgrade_box{
		box-shadow: none;
		border-bottom: 1px solid gray;
	}
	#additional_info_box{
		margin-top: 20px;
	}
	.media_icon{
		width: 20px;
	}
	#follow_box{
		padding-top: 10px;
	}
	#social_box{
		margin-top: 10px;
	}
	#social_box_content{
		width: 130px;
	}
	#settingsIcon{
		display: none;
	}
}